.recommended-courses-grid {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 190px);
    justify-items: start;
    overflow-x: auto;
    gap: 4px;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    .recommended-courses-grid {
        grid-template-columns: repeat(auto-fit, 170px);
        padding: 16px 0;
    }
}

@media (max-width: 475px) {
    .recommended-courses-grid {
        grid-template-columns: repeat(auto-fit, 160px);
        padding: 10px 0;
    }
}