.feedback-form-wrapper {
    height: 290px;
    rotate: 90deg;
    position: absolute;
    right: 20px;
    top: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #a5a5a5;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    color: #000;
    cursor: default;

    .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                margin-left: 4px;
                font-size: 0.85rem;
            }

            input[type="email"],
            input[type="text"] {
                width: 240px;
                padding: 5px 12px;
                box-sizing: border-box;
                font-size: 0.95rem;
                border: 1px solid #a5a5a5;
                border-radius: 4px;
                outline: none;
            }
            
            input[type="text"] {
                overflow-y: auto;
            }

            ul {
                margin-left: 12px;
                font-size: 0.75rem;
                color: #878787;
            }
        }
    }
}