* {
    margin: 0;
    padding: 0;
    font-family: Suisse, sans-serif;
    scroll-behavior: smooth;
}

#page-wrapper {
    max-width: 1536px;
    margin: 0 auto; 
}

#limiter {
    display: none;
}

@media (min-width: 1696px) {
    #page-wrapper {
        border-left: 1px solid #A5A5A5;
        border-right: 1px solid #A5A5A5;
        position: relative;
    }

    body {
        border-top: 1px solid #A5A5A5;
        border-bottom: 1px solid #A5A5A5;
    }
    
    #limiter {
        display: block;
        rotate: -90deg;
        border: 1px solid #a5a5a5;
        border-bottom: none;
        border-radius: 4px 4px 0 0 / 4px 4px 0 0;
        padding: 4px 10px;
        box-sizing: border-box;
        position: fixed;
        left: 32px;
        top: 170px;
        cursor: pointer;
    }
}

@media (min-width: 1920px) {
    #limiter {
        left: 143px;
    }
}

/* @media (min-width: 2304px) {
    #limiter {
        left: 334px;
    }
}

@media (min-width: 3072px) {
    #limiter {
        left: 716px;
    }
}

@media (min-width: 5120px) {
    #limiter {
        left: 1738px;
    }
} */