@media (max-width: 1536px) {
    .parent-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .search-wrapper {
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border: none;
        border-radius: 7px;
        padding: 0 8px;
        box-sizing: border-box;
    }

    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        .cat-txt {
            font-size: 1rem;
        }

        .toggle-cat-grid {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transition: transform 0.3s ease;

            &.rotate {
                transform: rotate(180deg);
            }

            img {
                margin-top: 2px;
            }
        }
    }

    .vr-ruler {
        height: 70%;
        width: 1.4px;
        background-color: #000;
        margin-right: 5px;
        margin-left: 2px;
    }

    .search-input > input {
        border: none;
        outline: none;
        width: 256px;
        font-size: 1rem;
    }

    .search-btn {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        position: absolute;
        right: 2px;
        cursor: pointer;
    }

    .categories-child-container {
        padding: 4px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 120%;
        height: fit-content;
        max-height: 334.8px;
        background-color: white;
        border: 1px solid #A5A5A5;
        border-radius: 5px;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            font-size: 1rem;
            font-weight: 500;
            padding-bottom: 2px;
            border-bottom: 1px solid black;
            margin-bottom: 4px;
        }

        .categories-card-container {
            .toggle-sub {
                display: none;
            }
        }
    }
}

@media (max-width: 1312px) {
    .search-wrapper {
        padding: 0 5px;
    }

    .search-input > input {
        width: 216px;
        font-size: 0.9rem;
    }

    .categories {
        .cat-txt {
            font-size: 0.9rem;
        }
    }

    .categories-child-container {
        .heading {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 1088px) {
    .search-wrapper {
        padding: 0;
    }
    .categories,
    .vr-ruler,
    .search-input,
    .categories-child-container {
        display: none;
    }

    .search-btn {
        position: static;
    }
}

// @media (max-width: 864px) { }