.progress-container {
    // max-width: 900px;
    // width: 100%;
    height: 530px;

    .progress-bar {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px 20px;
        box-sizing: border-box;
        position: relative;

        .progress-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            &:nth-child(4) {
                flex-grow: 0;
            }

            .line {
                width: 1.6px;
                height: 100%;
                border: none;
                border-radius: 50px;
                background-color: #bebebe;
                margin: 0 8px;

                &.completed {
                    background-color: #2BB673 !important;
                    height: 100%;
                    border-radius: 50px;
                }
            }
    
            .step {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                position: relative;
    
                .circle {
                    width: 26px;
                    height: 26px;
                    border: 2px solid #bebebe;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    box-sizing: border-box;
                    
                    .inner-circle {
                        width: 19px;
                        height: 19px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        border-radius: 50%;
                        box-sizing: border-box;

                        &.current {
                            border: none;
                            background-color: #203864;
                        }

                        &.completed {
                            width: 20px;
                            height: 20px;
                            border: 1px solid #2BB673;
                            background-color: #2BB673;
                        }
                    }

                    &.current {
                        border: 1px solid #203864;
                    }

                    &.completed {
                        background-color: #2BB673;
                        border-color: #2BB673;
                    }
                }
    
                .text {
                    width: 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-wrap: nowrap;
                    position: absolute;
                    right: -80px;
                    top: 0;

                    p:nth-child(1) {
                        font-size: 0.8rem;
                        color: #6c6c6c;
                    }

                    p:nth-child(2) {
                        font-size: 1.1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}