$company-text: 2.2rem;
$company-text-weight: 800;

.sticky-header {
    max-width: 1536px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.company-container {
    background-color: #203864;
}

.company-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    cursor: pointer;

    #career {
        font-size: $company-text;
        font-weight: $company-text-weight;
    }

    #council {
        font-family: Arial;
        font-style: italic;
        font-weight: lighter;
        font-size: 2rem;
    }
}

.nav-bar {
    background-color: #2f5597;
}

// @media (max-width: 1536px) { }

// @media (max-width: 1280px) { }

@media (max-width: 1024px) {
    .logo {
        #career,
        #council {
            font-size: calc($company-text * 0.85);
        }
    }
}

@media (max-width: 768px) {
    .logo {
        #career,
        #council {
            font-size: calc($company-text * 0.7);
        }
    }
}

@media (max-width: 640px) {
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        padding: 4px 4px 4px 0;
        box-sizing: border-box;
        margin-bottom: 2px;

        #career {
            font-size: calc($company-text * 0.5);
        }

        #council {
            font-size: calc($company-text * 0.4);
            letter-spacing: 5.5px;
            margin-top: -5px;
        }
    }
}

// @media (max-width: 475px) { }