@mixin h2-utility-class {
    font-size: 1.8rem;
    font-weight: 400;
    background-color: #1550a83c;
    border-left: 5px solid #203864;
    padding: 4px 8px;
    border-radius: 0 5px 5px 0 / 0 5px 5px 0;
}

@mixin section-utility-class {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
}

.about-course {
    @include section-utility-class;

    h2 {
        @include h2-utility-class;
    }

    p {
        font-size: 1.2rem;
    }
}