$hero-h1: 5rem;

@mixin hero-section-h1 {
    font-size: $hero-h1;
    line-height: 1;
    letter-spacing: -.1rem;

    @media (max-width: 1024px) {
        font-size: calc($hero-h1 * 0.8);
        line-height: 0.85;
    }

    @media (max-width: 768px) {
        font-size: calc($hero-h1 * 0.6);
        line-height: 0.8;
    }

    @media (max-width: 640px) {
        font-size: calc($hero-h1 * 0.4);
        line-height: 0.75;
    }
}