@media (max-width: 1536px) {
    .hero-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    .intro-div {
        // max-width: 910px;
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 50px 70px;
        box-sizing: border-box;
        background-color: #203864;
        border: none;
        border-radius: 12px;
        color: #fff;

        h1 {
            font-size: 5rem;
            line-height: 1;
            letter-spacing: -2px;
            border-bottom: 1px solid #fff;
            padding-bottom: 32px;
        }

        p {
            margin-top: 20px;
        }

        .to-courses {
            border: 1px solid #203864;
            border-radius: 4px;
            padding: 8px 12px;
            box-sizing: border-box;
            color: #203864;
            background-color: #fff;
            cursor: pointer;
        }
    }

    .tutorial-container {
        max-width: 392px;
        width: 100%;
        height: 446.4px;
        border: 1px solid #a5a5a5;
        border-radius: 12px;
        box-sizing: border-box;
    }

    .explore-cat {
        h2 {
            font-size: 2rem;
            font-weight: lighter;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
        }
    }

    .hero-cat-grid {
        max-width: 846px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 0;

        .categories-grid {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            gap: 8px;

            .cat-card-wrapper {
                .categories-card-container {
                    padding: 12px 14px;

                    .category-text-wrapper {
                        p {
                            font-size: 1.12rem;
                        }
                    }

                    .link-to {
                        svg {
                            width: 36px;
                            height: 36px;
                        }
                    }

                    .toggle-sub {
                        display: none;
                    }
                }
            }
        }
    }

}