.cat-into-hero {
    .loading-section {
        width: 100%;
        height: 1px;
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: nowrap;
        background-color: #e8e8e8;
        border: none;
        border-radius: 50px;
        position: relative;
        overflow: hidden;
    
        .loading-line {
            position: absolute;
            left: 0;
            width: 0%;
            height: 1px;
            border: none;
            border-radius: 50px;
            background-color: #203864;
            animation: loadAnimation 2s infinite ease-in-out;
        }
    
        @keyframes loadAnimation {
            0% {
                width: 0%;
            }
            50% {
                left: 100%;
                width: 100%;
            }
            100% {
                left: 100%;
                width: 0%;
            }
        }
    }
}

@media (max-width: 1536px){
    .cat-info-section {
        display: flex;
        flex-direction: column;
        border: 1px solid #a5a5a5;
        border-radius: 8px;
        padding: 8px 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        position: relative;
    }

    .each-cat-intro {
        margin-bottom: 16px;

        h2 {
            font-size: 1.8rem;
            font-weight: 500;
            border-bottom: 1px solid #000;
            margin-bottom: 4px;
            padding-bottom: 4px;
            box-sizing: border-box;
        }

        p {
            font-size: 1.2rem;
        }

        ul {
            padding-left: 20px;
            li {
                font-size: 1.2rem;
            }
        }
    }

    .cut-cat {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        position: absolute;
        right: -8px;
        top: -8px;
        cursor: pointer;
    }
    
    .cat-courses {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        h3 {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}

@media (max-width: 1312px) {
    .each-cat-intro {
        h2 {
            font-size: 1.8rem;
            font-weight: 400;
        }

        p {
            font-size: 1.125rem;
        }

        ul {
            padding-left: 20px;
            li {
                font-size: 1.125rem;
            }
        }
    }
}

// @media (max-width: 1088px) { }

// @media (max-width: 864px) { }

@media (max-width: 640px) {
    .each-cat-intro {
        h2 {
            font-size: 1.4rem;
            font-weight: 400;
        }

        p {
            font-size: 1rem;
        }

        ul {
            padding-left: 20px;
            li {
                font-size: 1rem;
            }
        }
    }
}