.prerequisite-subjects {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
    box-sizing: border-box;

    h2 {
        font-size: 1.8rem;
        font-weight: 500;
        border-left: 5px solid #203864;
        border-bottom: 1px solid #203864;
        padding: 4px 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    ul {
        margin-left: 20px;
        
        p {
            font-size: 1.125rem;
            letter-spacing: 1.2px;
        }
    }
}