@mixin h3-utility-class {
    font-size: 1.8rem;
    font-weight: 400;
    background-color: #1550a83c;
    border-left: 5px solid #203864;
    padding: 4px 8px;
    border-radius: 0 5px 5px 0 / 0 5px 5px 0;
}

@mixin section-utility-class {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.syllabus {
    @include section-utility-class;

    h3 {
        @include h3-utility-class;
    }

    .syllabus-pdf {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: flex-start;
        align-items: center;

        .sy-pdf {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100px;
            width: 100%;
            height: 100px;
            border: 1px solid #5a5a5a;
            border-radius: 4px;
            cursor: pointer;

            .pdf-container {
                width: 100%;
                flex-grow: 1;
                border: none;
                border-radius: 4px 4px 0 0 / 4px 4px 0 0;
            }

            .pdf-foot {
                width: 100%;
                font-size: 1.1rem;
                text-align: center;
                color:  white;
                padding: 2px;
                box-sizing: border-box;
                background-color: #203864;
                border: 1px solid #203864;
                border-radius: 0 0 4px 4px / 0 0 4px 4px;
            }
        }
    }
}