.contents-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #a5a5a5;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    // position: sticky;
    // top: var(--nav-height, 78px);
}

.content-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px 8px 0 0 / 8px 8px 0 0;
    font-size: 1.45rem;
    font-weight: 500;
    padding: 8px 12px;
    box-sizing: border-box;
    cursor: pointer;

    .heading-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;

        h2 {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    
    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            rotate: -90deg;
            transition: transform 0.3s ease-in-out;
        }

        .rotate-down {
            transform: rotate(90deg);
        }

        .rotate-up {
            transform: rotate(0deg);
        }
    }
}

.links-grid-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: ease-in-out 0.5s;

    &.open {
        grid-template-rows: 1fr;
        opacity: 1;
        border-top: 1px solid #a5a5a5;

        .content-links {
            padding-top: 8px;
            padding-bottom: 8px;
            box-sizing: border-box;
        }
    }

    &.closed {
        grid-template-rows: 0fr;
        opacity: 0;
    }
}

.content-links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    transition: all ease-in-out 0.4s;

    li {
        list-style: circle;

        a {
            display: block;
            width: fit-content;
            text-decoration: none;
            color: black;
            font-size: 1.125rem;
            padding: 2px;
            box-sizing: border-box;

            &:hover {
                text-decoration: underline solid #203864 1px;
                color: #203864;
                background-color: #D4E4FD;
            }
        }
    }
}

@media (max-width: 768px) {
    .content-head {
        .heading-btn {
            h2 {
                font-size: 1.2rem;
            }
        }
    }

    .content-links {
        li {
            a {
                font-size: 1rem;
            }
        }
    }
}