.cat-into-hero {
    .loading-section {
        width: 100%;
        height: 1px;
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: nowrap;
        background-color: #e8e8e8;
        border: none;
        border-radius: 50px;
        position: relative;
        overflow: hidden;
    
        .loading-line {
            position: absolute;
            left: 0;
            width: 0%;
            height: 1px;
            border: none;
            border-radius: 50px;
            background-color: #203864;
            animation: loadAnimation 2s infinite ease-in-out;
        }
    
        @keyframes loadAnimation {
            0% {
                width: 0%;
            }
            50% {
                left: 100%;
                width: 100%;
            }
            100% {
                left: 100%;
                width: 0%;
            }
        }
    }
}

@media (max-width: 1536px){
    .cat-info-section {
        display: flex;
        flex-direction: column;
        border: 1px solid #a5a5a5;
        border-radius: 8px;
        padding: 8px 12px;
        box-sizing: border-box;
        margin: 8px 0;
        position: relative;
    }

    .each-cat-intro {
        margin-bottom: 16px;
        h2 {
            font-size: 1.8rem;
            font-weight: 500;
            border-bottom: 1px solid #203864;
            margin-bottom: 4px;
        }

        p {
            font-size: 1.2rem;
        }

        ul {
            padding-left: 20px;
            li {
                font-size: 1.2rem;
            }
        }
    }

    .cut-cat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border: 1px solid #a5a5a5;
        border-radius: 4px;
        background-color: #fff;
        position: absolute;
        right: 12px;
        top: 8px;
        cursor: pointer;
    }
    
    .cat-courses {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        h3 {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }

    .cat-courses-grid {
        width: 100%;
        display: grid;
        justify-items: start;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        gap: 8px;
    }

    .cat-course-card {
        width: 100%;
        min-width: 100px;
        height: 100%;
        min-height: 140px;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
        gap: 8px;
        padding: 8px 12px;
        box-sizing: border-box;
        border: 1px solid #a5a5a5;
        border-radius: 8px 0 8px 8px / 8px 0 8px 8px;
        position: relative;
    }

    .compare-toggle {
        font-size: 0.9rem;
        padding: 4px 8px;
        background-color: #D4E4FD;
        border: none;
        border-radius: 0 0 0 4px / 0 0 0 4px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .course-full-name {
        margin-top: 20px;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .cat-course-vr-ruler {
        height: 2px;
        background-color: #000;
        transform: scaleY(0.5);
        transform-origin: top;
        height: 1px;
    }

    .course-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .field-box {
            font-size: 0.7rem;
        }

        .course-navi {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 4px;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: #203864;
            color: #fff;
            cursor: pointer;
        }
    }
}

@media (max-width: 1312px) {
    .each-cat-intro {
        h2 {
            font-size: 1.8rem;
            font-weight: 400;
        }

        p {
            font-size: 1.125rem;
        }

        ul {
            padding-left: 20px;
            li {
                font-size: 1.125rem;
            }
        }
    }
}

// @media (max-width: 1088px) { }

// @media (max-width: 864px) { }

@media (max-width: 640px) {
    .each-cat-intro {
        h2 {
            font-size: 1.4rem;
            font-weight: 400;
        }

        p {
            font-size: 1rem;
        }

        ul {
            padding-left: 20px;
            li {
                font-size: 1rem;
            }
        }
    }
}