.cat-course-card {
    width: 100%;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 8px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #a5a5a5;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &.compare-mode {
        .compare-toggle {
            transform: translateY(0) !important; // Ensure visibility in compare mode
        }
    }
}

.compare-toggle {
    font-size: 0.9rem;
    padding: 4px 8px;
    background-color: #D4E4FD;
    border: none;
    border-radius: 0 8px 0 4px;
    position: absolute;
    top: 0;
    right: -1px;
    transform: translateY(-100%); // Hidden above card
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    z-index: 10;

    &.selected {
        background-color: #4CAF50;
        color: #fff;
    }

    .cat-course-card:hover & {
        transform: translateY(0); // Show on hover
    }
}

.course-full-name {
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 600;
}

.cat-course-vr-ruler {
    height: 2px;
    background-color: #000;
    transform: scaleY(0.5);
    transform-origin: top;
    height: 1px;
    margin-top: 20px;
}

.course-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .field-box {
        font-size: 0.7rem;
    }

    .course-navi {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #203864;
        color: #fff;
        cursor: pointer;
    }
}