.filter-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
}

.filter-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
    border-bottom: 1px solid #a5a5a5;

    // h3 {
    //     font-size: 1.25rem !important;
    //     font-weight: 400 !important;
    // }
}

.toggle-filter-options-grid {
    display: grid;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    padding-bottom: 8px;
    box-sizing: border-box;

    .filter-point {
        padding: 8px 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #a5a5a5;
        font-size: 1.2rem;
        font-weight: lighter;
    }

    .filter-points-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0 !important;
        list-style: none;
        gap: 8px;
        padding: 0 8px;
        box-sizing: border-box;

        li {
            padding: 4px 10px;
            box-sizing: border-box;
            border: 1px solid #a5a5a5;
            border-radius: 4px;
            cursor: pointer;

            label {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 7px;

                input[type="checkbox"] {
                    background-color: #D4E4FD;
                }
            }
        }
    }
}

// .filter-states {

// }