.hcat-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
    background-color: #203864;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background-color: #fff;
        border: 1px solid #a5a5a5;

        h3 {
            color: #000;
        }

        .btn-cover {
            .hcards-trackball {
                transform: scale(1.125);
                background-color: #203864;
            }

            .right-arrow {
                transform: translate(90%, -90%);
            }

            .right-arrow-top {
                transform: translate(90%, -90%);
            }
        }

        .hcat-description {
            color: #000;
        }
    }
}

.cat-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    h3 {
        font-size: 2rem;
        color: #fff;
    }

    .btn-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        .hcards-trackball {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: all 0.5s;
            position: absolute;
            inset: 0;
            transform: scale(0);
        }

        .right-arrow {
            z-index: 4;
            transition: all 0.4s;
        }

        .right-arrow-top {
            position: absolute;
            left: -20px;
            bottom: -20px;
            transform: translate(0);
            z-index: 5;
            transition: all 0.4s;
        }
    }
}

.hcat-description {
    display: flex;
    color: #fff;
    z-index: 2;

    p {
        padding-right: 50px;
    }
}