.signupLayout-body {
    max-width: 1536px;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.signupLayout-wrapper {
    width: 100%;
    height: 100dvh;
    max-width: 900px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid #a5a5a5;
    border-left: 1px solid #a5a5a5;
    position: relative;
}

.signup-limiter {
    padding: 4px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 4px 4px 0 0 / 4px 4px 0 0;
    border-bottom: none;
    rotate: -90deg;
    position: absolute;
    left: -49px;
    top: 100px;
    cursor: pointer;
}

.signup-header-section {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #a5a5a5;
}

.signup-overlay {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.signup-main-section {
    width: 100%;
    max-width: 700px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 12px;

    .close-btn {
        display: none;
    }
}

// @media (max-width: 1280px) { }

@media (max-width: 1024px) {
    .signupLayout-body {
        max-width: 1024px;
        padding: 0 60px;
    }

    .signupLayout-wrapper {
        max-width: 800px;
        padding: 0 20px;
    }

    .signup-main-section {
        max-width: 570px;
    }
}

@media (max-width: 768px) {
    // .signupLayout-body {
    //     max-width: 768px;
    //     padding: 0 30px;
    // }

    .signup-main-section {
        max-width: 470px;
        height: 380px;
    }

    .signup-limiter {
        display: none;
    }
}

@media (max-width: 640px) {
    .signupLayout-body {
        max-width: 640px;
        padding: 0 20px;
    }
}

@media (max-width: 475px) {
    .signupLayout-wrapper,
    .signup-header-section {
        border: none;
    }

    .signup-header-section {
        padding: 12px 5px;

        p {
            font-size: 0.95rem;
        }
    }

    .signupLayout-body,
    .signupLayout-wrapper {
        padding: 0 8px;
    }

    .signup-main-section {
        height: 360px;
    }

    .progress-container {
        max-width: 100%;
    }
}