.content-box {
    .core-subjects {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .core-topics,
    .section-intro {
        // padding: 20px 0;
        // box-sizing: border-box;
        border: 1px solid #a5a5a5;
        border-radius: 8px;

        .topics {
            display: flex;
            flex-direction: column;
            // padding: 0 20px;
            // box-sizing: border-box;

            h3 {
                padding: 8px 16px;
                box-sizing: border-box;
                border-bottom: 1px solid #a5a5a5;
                cursor: pointer;
            }

            .sub-topics-grid {
                display: grid;
                grid-template-rows: 1fr;
                transition: all 0.5s;
                border-bottom: 1px solid #a5a5a5;

                &.open {
                    grid-template-rows: 1fr;
                    opacity: 1;

                    .sub-topics-list {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        box-sizing: border-box;
                    }
                }
    
                &.close {
                    grid-template-rows: 0fr;
                    opacity: 0;
                }

                .sub-topics-list {
                    padding-left: 14px;
                    padding-right: 14px;
                    transition: all 0.5s;
                    overflow: hidden;
                }
            }
        }
    }
}