.mainlayout {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-top: var(--nav-height, 78px);
    scroll-margin-top: var(--nav-height, 78px);
}

.AI-parent-container {
    position: fixed;
    bottom: 40px;
    right: 64px;
    z-index: 999;

    .arrowAI {
        position: fixed;
        bottom: 40px;
        right: 64px;
        z-index: 999;
    }
}

.utility-section {
    padding: 0 7rem;
    box-sizing: border-box;
}

.utility-container {
    padding: 2rem 0;
}

// @media (max-width: 1536px) { }

@media (max-width: 1312px) {
    .utility-section {
        padding: 0 3rem;
    }
}

@media (max-width: 1088px) {
    .utility-section {
        padding: 0 2.65rem;
    }
}

@media (max-width: 864px) {
    .utility-section {
        padding: 0 2.5rem;
    }
}

@media (max-width: 640px) {
    .utility-section {
        padding: 0 1rem;
    }
}